# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/asset-manifest.json
build/cart.png
build/favorite.svg
build/favoriteLiked.svg
build/favorites.png
build/index.html
build/logo192.png
build/logo512.png
build/mylogo.png
build/sad_icon.svg
build/static/css/main.f10871a0.css
build/static/css/main.f10871a0.css.map
build/asset-manifest.json
build/cart.png
build/favorite.svg
build/favoriteLiked.svg
build/favorites.png
build/index.html
build/logo192.png
build/logo512.png
build/mylogo.png
build/sad_icon.svg
build/static/css/main.f10871a0.css
build/static/css/main.f10871a0.css.map
build/asset-manifest.json
