.cardsContent {
  margin: 30px auto 15px auto;
  display: flex;
  width: 90%;
  position: relative;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #ffffff;

  border: 3px solid #33aba0;
  border-radius: 30px;

}

.page-body {
  width: 100%;
}

.items-body {
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 30px;
  min-height: 650px;
  margin-bottom: 40px;
  padding: 50px auto 50px auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #ffffff;
}



@media (min-width: 601px) {
  .topContent {
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0 30px;

  }

  .input-field {
    width: 20%;
    overflow: hidden;
    margin-right: 50px;
  }

}

@media (max-width:600px) {
  .topContent {
    width: 100%;
    overflow: hidden;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


  }

  .input-field {
    width: 60%;
    overflow: hidden;
  }
}

.topContent>h3 {

  font-weight: 400;
}



.topContent>input {
  height: 30px;
  border-radius: 10px;
  border: 0 0 1px 0 solid #bad5d2;

}

.empty-result {
  color: black;
  font-weight: 400;
  align-items: center;
  font-style: Inter;
  margin-top: 15%;
}