.cardsContent {
  display: flex;
  width: 90%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #ffffff;
  margin-left: 3%;
  border: 3px solid #b8d4d1;
  border-radius: 30px;

}