.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
}

.catr-bg {
    background-color: black;
    opacity: 0.8;
    width: 100%;
}

.cart-header>h3 {
    padding-left: 30px;
    font-size: 40px;
    font-weight: 600;
}

.cart-right-menu {
    background-color: white;
    width: 35%;
    overflow-y: scroll !important;

}

.cart-right-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.cart-header {
    width: 100%;
    margin-top: 30px !important;
    display: flex;
    justify-content: space-between;
    margin: 0;

}



.cart-header>h3,
svg {
    margin: 0;

}

.cart-footer {
    width: 100%;
    display: flex;

}

.cart-footer>button {
    cursor: pointer;
    background-color: #D1EBCC;
    width: 70%;
    border: 1px solid gray;
    border-radius: 20px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #8F9F9D;
    overflow: hidden;
    margin: 35px auto 35px;

}