.card {
    margin-left: 10%;
    margin-right: 20px;
    margin-top: 50px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    height: 340px;
    overflow: hidden;


}

.card-image>img {
    position: absolute;

    margin: auto;
    align-items: center;
    z-index: 4;


}

.card-image {
    width: 130px;
    height: 110px;
    margin: 0 auto;
}

.flow-text {
    font-size: 18px;
}


.card-body>button {
    border-radius: 8px;
    opacity: 0.6;
    background-color: rgb(177, 168, 168);


}

.card-content {
    padding: 10px 0 10px 0 !important;
}

.card-body>p {

    font-size: 16px;
    font-weight: 600;
}

.card-body>button {
    margin: 5px;
}

.cart-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.card-favorite {
    display: flex;
    margin: auto 0 auto 30px;
}

.cart-footer>button>p {
    font-size: 14px;
    color: black;
    margin: 5px auto;
    padding: auto;
}

.cart-btn {
    border-radius: 10px;
    transition: box-shadow 0.6s;
    border: 1px solid #d3d3d3;

}

.show {
    background-color: #b8d4d1;
    border: none;

}

.hide {
    opacity: 0;
    display: none;
}

.price-value {
    font-weight: 900;
}

.cart-btn:hover {
    cursor: pointer;
    box-shadow: 4px 5px 10px 1px gray;

}



.moreInfoText {
    font-size: 15px;
    font-family: "Times New Roman", Serif;
    color: black;
}